<html>
<head>
    <meta charset="utf-8"/>
    <title>user</title>

    <style>
        #it{   
            font-size:30px;
            text-align: center;
            color:blue;
        }
        #pseudo
        {
            font-size:20px;
            font-weight: bold;
            color:blue;
        }
    </style>
</head>
<body>
    
        <h1 id="it">IT Academy</h1>
        <p id="pseudo">Entrer votre pseudo</p><br/>

        <input id="newpseudo"/><button onclick="location.href='/panier'">Enregistrer</button>

</body>
</html>